/* You can add global styles to this file, and also import other style files */
// @import "../../ng-tooltip-directive/styles/ng-tooltip.scss";

* {
  box-sizing: border-box;
}

.app-tooltip.custom-variables {
  --tooltip-background: orange;
  --tooltip-color: red;
}

.app-tooltip.custom-css {
  background-color: yellow !important;
  color: blue !important;
  padding: 20px 40px !important;
}

.app-tooltip.other-component {
  --tooltip-background: rgb(255, 255, 255);
  --tooltip-color: rgb(0, 0, 0);
}
